#main-doc {
  margin-left: 250px;
  margin-right: 90px;
}
#navbar {
  left: 20px;
  top: 70px;
  display: flex;
  position: fixed;
  width: 200px;
  height: 100%;
  overflow-y: auto;

}
#navbar header {
  text-align: center;
  font-size: 20px;
  background-color: #FF8811;
  position: fixed;
  width: 200px;
}
#navlinks {
  margin-top: 50px;
}
#navbar ul {list-style-type: none; margin-left: -40px;
}
#navbar a {
  flex: 1;
  background-color: #FFF5EB;
  color: black;
  display: block; /* Make the links appear below each other */
  padding: 12px;
  text-decoration: none; /* Remove underline from links */
}
#navbar a:hover {
  background-color: #399388;
  color: white;
}
.main-section {margin-top: 20px; margin-bottom: 10px;
}
body{
  background-color: #392F5A;
  color: white;
  font-family: 'Roboto', sans-serif;
 font-weight: 300;
}

header,h1 {
  font-size: 30px;
  color: #9DD9D2;
  font-family: 'Abril Fatface', serif;
  letter-spacing: 2px;
}
.imgdiagram{
 border:5px solid #FF8811;
float: center; 
margin-right: auto; 
margin-left: auto; 
display: block;
}
.downloadlink{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
 font-weight: 300;
 width: 15em;
}
.downloadlink a:hover{
  background-color: #399388;
  color: white;
}
code {
  background-color: #FF8811;
  display: block;
  padding: 1em 2em;
  font-size: 1.1em;
  border-radius: 5px;
  margin: 10px;
  width: 25em;
  height: auto;
  word-break: normal;
  word-wrap: normal;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
@media (max-width: 480px) {
  #navbar {width: 100%;
     position: absolute;
     top: 0;
  height: 20vh;}
  #navlinks {width:100%;}
  #main-doc {margin-left: 20px;
  margin-top:25vh;}
  code {
    width: 90%; 
    height: auto;}
  }
/* VIDEO CSS BEGIN */
section#video-area >
div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


div.video-wrapper {
    position: static;
    overflow: hidden;
    height: 50vh;
    width: 50vw;
}

iframe#video {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    div.video-wrapper {
        width: 100%;
        height: 50vh;
    }
}

@media only screen and (max-width: 800px) {
    div.video-wrapper {
        width: 100%;
        height: 50vh;
    }
}

/* VIDEO CSS END */